

  li {
    width: 100%;
    overflow: none;
  }

.main-nav {
    display: block;
    background-color: #1DACD6;
    border: 5px solid white;  
    padding: 15px 0;
  }

  .main-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .main-nav li {
    display: inline;
    padding: 8px 16px;

  }

  .main-nav li a {
    inline: block;
    text-decoration: none;
    text-align: center  
  }


  .main-nav li a:hover {
    background-color: #2E5894;
    color: white
}

